/* 
    Created on : Feb 20, 2016, 5:14:18 PM
    Author     : Teddy Segal
*/
.list-cell {
  -fx-font-size: 12pt;
}
.list-cell:selected {
  -fx-background-color: #aab;
  -fx-text-fill: white;
  -fx-font-weight:bold;
}
.text-area {
  -fx-font-size: 12pt;
}
.menu-bar {
  -fx-font-size: 12pt;
}
